APP_ENV=local
APP_URL=http://localhost/hp-financial/public
APP_NAME=HP Financial
APP_KEY=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=hp
DB_USER=root
DB_PASS=
SESSION_NAME=hpf_sess
REMINDER_LEAD_DAYS=3
UPLOAD_MAX_MB=5
